/*Restul stilizarilor se afla in common.css*/


main{
    background-image: url("./background images/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:90vh;
    animation-name: ease;
    position: relative;
    z-index:-1000;
    /* transform: translateY(100px); */
    transition: background-image 2s ease-in-out;
}

.main-text{
    font-size: 4.5em;
    text-align: center;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
    opacity: 0;
    z-index: -1000;
}

.quotes{
    height:200vh;
    font-family: 'Roboto Mono', monospace;
    /* margin: 20vh 0vh; */
    /* background: linear-gradient(white,rgb(185, 183, 183)); */
    background-color: rgb(18,37,43);
    color:white;
    z-index: 100;
    box-shadow: -10px 0px 100px black;
}

.quotes p{
    font-size: 2.8em;
}
/* .quotes img{
    image-rendering: optimizeSpeed;
} */
.author{
    font-size:1.8em;
    text-align: center;
    position: relative;
    /* left:50%; */
    align-self: flex-end;
    width:40%;
    background-color: rgb(255, 132, 50);
    padding:3vh 0vh;
    border-radius: 25px;
}

.quote1, .quote3{
    position: relative;
    float: left;
    clear: both;
    /* background-color: red;   */
    left: 2%;
    opacity: 0;
    animation: none;
    text-align: left;
}
.quote2{
    position: relative;
    float: right;
    clear: both;
    right:2%;
    opacity: 0;
    animation: none;
    text-align: right;
}
.quote1{
    margin-top:5vh;
}
.quote1, .quote2, .quote3{
    /* margin: 10vh 0vh; */
    height: 30%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: red; */
}

/* .quote1{
    background: green;
}
.quote2{
    background:red;
}
.quote3{
    background:blue;
}
 */

@keyframes slide-right{
    from{
        opacity: 0;
        left: 2%;
    }
    to{
        opacity: 1;
        left: 5%;
    }
}

@keyframes slide-left{
    from{
        opacity:0;
        right:2%;
    }
    to{
        opacity:1;
        right: 5%;
    }
}


.cards{
    height:200vh;
    
    /* background-color: salmon; */
    background-color: rgb(8,22,31);
}

.cards h1{
    font-style: italic;
    font-size: 3.5em;
    text-transform: uppercase;
    text-align: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* letter-spacing: 5px; */
    word-spacing: 25px;
    opacity: 0;
    padding-top:50px;
    color:white
}

.cards ul{
    list-style: none;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    row-gap: 6vh;
    column-gap: 3vw;

    justify-content: center;
    align-items: center;
}


.cards li{
    background-color: white;
    /* background-color: rgba(0,0,0,0); */
    height: 60vh;
    width: 25vw;
    box-shadow: 1px 1px 10px black, -1px -1px 10px black;
    /* transition: all 0.5s ease; */
}

.cards li{
    opacity: 0;
    transform: scale(0.7);
}

/* 
.cards li:hover{
    transform: scale(1.2);
} */

.cards img{
    height:70%;
    width: 100%;
    display:block;
    position: relative;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease;
}

.cards img:hover{
    transform: scale(1.2);
}

.card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color:rgb(219, 219, 219);
    /* background-color: rgb(18,37,43); */
    /* background-color: #b4a56f; */
    color: black;
    background-color: rgb(126,151,166);

    height: 30%;
    text-align: center;
}

.card-details h2{
    font-size: 2em;
}


@keyframes fade-in{
    from{
        opacity:0;
        transform: scale(0.7);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


.form{
    height: 100vh;
    background-color: darkturquoise;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.form h1{
    font-size: 2.5em;
    text-transform: capitalize;
    height:50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252,0,80);
    /* background-color: rgb(0, 13, 20); */
    color:white;
    /* padding-top:50px; */
    opacity: 0;
}
.form-side, .form-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.form-box{

    background-color: white;
    margin:0vh 35vw;
    margin-top: 10vh;
    height:30vh;
    width:30%;
    border-radius: 30px;
    box-shadow: 1px 1px 10px gray, -1px -1px 10px gray;
    padding-top:50px;
    opacity:0;
}
.form-box h2{
    text-align: center;
}
.sign-up-button{
    cursor: pointer;
    background-color: darkturquoise;
    padding: 20px;
    border-radius: 25px;
    width: auto;
    color:white;
    transition: background-color 0.5s ease;
}

.sign-up-button:hover{
    background-color: rgb(255, 65, 65);
}

.credits{
    height: 30vh;
    background-color: rgb(32, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    color:white;
}


@keyframes text-appear{
    from{
        opacity: 0;
        padding-top:50px;
    }
    to{
        opacity: 1;
        padding-top:0px;
    }
}
/*
.up{
    transform: translateY(-10px);
}

.down{
    transform: translateY(10px);
}

*/


@media screen and (max-width: 1210px){
    body {
        overflow-x: hidden!important;
    }
    nav ul{
        width:70%;
        /* background-color: blue; */
    }
    nav li{
        margin: 0;
        padding:0;

    }
}
@media screen and (max-width: 1000px){
    body {
        overflow-x: hidden!important;
    }
    nav li{
        font-size: 1rem;
    }
    .form-box{
        width: 50%;
    }
}
@media screen and (max-width: 900px){
    body {
        overflow-x: hidden!important;
    }

    
}
@media screen and (max-width: 800px){
    body {
        overflow-x: hidden!important;
    }

}

@media screen and (max-width: 768px){

    .main-text{
        font-size:3.2em;
    }
    .quote1, .quote2, .quote3{
        width: 100%;
    }
    .quotes p{
        font-size: 1.8em;
        /* width: 70%; */
        /* background-color: red; */
    }
    .author{
        font-size:1em;
    }
    .quote2{
        right:0;
    }

    .form-box{
        width:50%;
    }
}

@media screen and (max-width:550px){
    body {
        overflow-x: hidden!important;
    }
    .form-box{
        width:70%;
    }
}