main, main>ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

main{
    height:130vh;
    width: initial;
    background-color: gray;

}


.date{
    font-weight: bold;
    font-size:2.7em;
    background-color: red;
    box-shadow: 1px 1px 10px black, -1px -1px 10px black;
    border-radius:10px;
    width:50%;
    padding:1%;
}

main>ul{
    width: 100%;
    height:70%;
    /* background-color: red; */
}

.key{
    font-weight:bold;
    font-size:2.7em;
}

.value{
    color:white;
    font-size:2em;
}
