*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    width:100%;
    height:auto;
}
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    position:relative;
}

ul{
    list-style: none;
}

nav{
    background-color:rgb(22,12,20);
    height:10vh;
    width:100%;
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top:0px;
    transition: all 3s ease-in forwards;
    z-index:10;
    /* opacity:0; */
    box-shadow: 0px 10px 50px black;
}

.nav-title{
    text-decoration: none;
    color:white;
    font-size:2.2em;
    letter-spacing:0.3em;
    font-weight: 700;
    width:auto;
    /* background-color: blue; */
}

.links{
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width:65%;
    /* background-color: blue; */
    /* transform: translateX(0vw); */
}

nav li{
    font-size:1.2em;
    cursor:pointer;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    /* background-color:blue; */
    margin: 0px 30px;
    padding:20px 10px;
    height:auto;
    
}


nav a{
    text-decoration:none;
    color:white;
}


.nav-title, .links>li{
    transition: all 0.2s ease-in;
}

.nav-title:hover, .links>li:hover, #drop-icon:hover{
    text-shadow: 1px 1px 10px white, -1px -1px 10px white;
    transform: scale(1.2);
    transition: all 0.2s ease-in;
}

.links>li:last-child:hover{
    text-shadow: none;
    transform: none;
    transition: all 0.2s ease-in;
}

.menu>li:hover{
    background-color:red;
    text-shadow: 1px 1px 10px white, -1px -1px 10px white;
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}

#drop-icon:hover{
    transform: scale(1.5);
}
.drop-menu{
    width: auto;
}

#drop-icon{
    font-size:200%;
    color:white;
    cursor: pointer;
    
}


.menu{
    position:absolute;
    right: 0;
    top:7vh;

    display: flex;
    flex-direction: column;
    width:30vw;

    /* opacity:0; */
    visibility:hidden;
    cursor: default;
    transition: all 0.2s ease-in;
}

.menu-active{
    visibility: visible;
    /* opacity:1; */
    top:10vh;
}

.menu li{
    background-color: rgba(0,0,0,0.6);
}

.menu i{
    position: relative;
    left:0;
    width: auto;
    /* background-color: red; */
}


.burger{
    cursor:pointer;
    display:none;
}

.burger div{
    height:2px;
    width:35px;
    background-color: white;
    margin: 8px 0px;
    transition: all 0.5s ease;
}

/* .credits{ */
.credits:nth-of-type(1){
    height: 30vh;
    background-color: rgb(32, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    color:white;
}


@media screen and (max-width: 1210px){
    body {
        overflow-x: hidden!important;
    }
    nav ul{
        width:70%;
        /* background-color: blue; */
    }
    nav li{
        margin: 0;
        padding:0;

    }
}
@media screen and (max-width: 976px){
    body {
        overflow-x: hidden!important;
    }
    nav li{
        font-size: 1rem;
    }
}



@media screen and (max-width: 850px){
    body {
        overflow-x: hidden!important;
    }
    .nav-title{
        font-size: 2.5em;
    }

    .burger{
        width:auto;
        display: block;

    }

    .links{
        position: absolute;
        flex-direction: column;
        top:10vh;
        right:0;
        height:90vh;
        width:50vw;
        background-color:rgba(0,0,0,0.6);
        transform: translateX(50vw);
        transition: transform 0.5s ease;
    }
    .links li{
        font-size: 1.2em;
        padding: 15px 0;
        opacity:0;
        transform: translateX(50px);
        /* background-color: green; */
    }

    #drop-icon, .menu span{
        display: none;
    }
    .drop-menu{
        width:100%;
        /* background:blue; */
    }

    .menu{
        transform: translateX(50px);
        opacity:1;
        /* background: red; */
        position: static;
        height:auto;
        /* width:100%; */
        flex-direction:row;
    }
    
    .menu li{
        background-color: rgba(0,0,0,0);
    }
    

}

@keyframes link-slide-left{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        visibility:visible;
        opacity:1;
        transform: translateX(0px);
    }
}