.main-landing{
    background-image: url("1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:90vh;
    animation-name: ease;
    position: relative;
    z-index:-1000;
    /* transform: translateY(100px); */
    transition: background-image 2s ease-in-out;
}

.title{

    font-size:4em;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top:10vh;
}

.before-after{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size:4em;
    height:200vh;
    background: linear-gradient(rgb(39,50,55),rgb(3, 135, 218),rgb(39,50,55));
    color:wheat;
}

.before-after>p::before{
    content: 'Everyone wants to get there.';
}

.before-after>p::after{
    content: 'Pick your next goal:';
}

.before-after>p, .before-after>p::before, .before-after>p:after, .wonder>p{
    display:block;
    font-family: 'Bebas Neue', cursive;
    word-spacing: 0.5em;
    text-align: center;
    
}

.before-after>button{
    width:20%;
    height:5%;
    margin-top:5%;
    /* background-color:rgb(245, 255, 57); */
    background-color: rgba(0,0,0,0);
    color: white;
    border-radius: 15px;
    /* box-shadow: 1px 1px 10px black, -1px -1px 10px black; */
    outline: none;
    border:2px solid white;
    cursor:pointer;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:50%;
    transition: all 0.2s ease-in;
}

.before-after>button:hover{
    background-color:rgb(140, 255, 179);
    color:black;
}

.root{
    font-size:0.5em;
    text-align: center;
    /* background-color:red; */
    height:33.33%;
    margin-top:10%;
}

.wonder{
    height:140vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(rgb(202,0,52), rgb(255, 209, 110));
}

.wonder>p, .wonder>.form{
    height:50%;
    text-align:center;
}

.wonder>p{
    color:black;
    font-size:4em;
    /* background-color:red; */
    text-align: center;
    height:10em;
    line-height: 10em;

    /* height:50%; */
}
.wonder>.form{
    /* width:50%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    
}

#name-input-box{
    height:45%;
    width:35%;
    font-size:2em;
    border-radius: 15px;

}

#name-input-submit{
    height:20%;
    width:10%;
    background-color:rgba(0,0,0,0);
    border-radius: 15px;
    /* box-shadow: 1px 1px 5px black, -1px -1px 5px black; */
    outline: none;
    
    border:2px solid white;
    color:white;
    font-size:1.2em;
    font-weight: 700;
    cursor:pointer;
    transition: all 0.2s ease-in;
}

#name-input-submit:hover{
    color:black;
    background-color:white;
    
}


.answer{
    height:50vh;
    /* background: linear-gradient(rgb(255,208,110), rgb(255, 120, 42)); */
    background-color: rgb(255, 120, 42);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease-in;
    /* display: none; */
}

.answer>h1{
    font-size: 4em;
}

.answer>p{
    font-size:2em;
    display: none;
}
.answer>h1, .answer>p{
    width:30%;
}
.answer>span{
    width:50%;
    /* background-color:rgba(0,0,0,0); */
    /* border-radius: 15px; */
    /* border: 2px solid black; */
    font-size:3em;
}